* {
    padding: 0;
    margin: 0;
}

img {
    height: 75px;
}

.button-circle {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: #fffeff;
}

.button-wood {
    border: 10px solid #077339;
}

.button-fire {
    border: 10px solid #e24f24;
}

.button-earth {
    border: 10px solid #ffaf13;
}

.button-metal {
    border: 10px solid #625a4f;
}

.button-water {
    border: 10px solid #1d5796;
}

/* quick reset and base styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
}
  
html {
font-family: helvetica, arial, sans-serif;
}

/* relevant styles */
.img__wrap {
position: relative;
height: 150px;
width: 200px;
}

.img__description_layer {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(36, 62, 206, 0.6);
color: #fff;
visibility: hidden;
opacity: 0;
display: flex;
align-items: center;
justify-content: center;

/* transition effect. not necessary */
transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
visibility: visible;
opacity: 1;
}

.img__description {
transition: .2s;
transform: translateY(1em);
}

.img__wrap:hover .img__description {
transform: translateY(0);
}