* {
    padding: 0;
    margin: 0;
}

img {
    height: 50px;
    height: 75px;
}

.button-circle {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: #fffeff;
}

.button-wood {
    border: 10px solid #077339;
}

.button-fire {
    border: 10px solid #e24f24;
}

.button-earth {
    border: 10px solid #ffaf13;
}

.button-metal {
    border: 10px solid #625a4f;
}

.button-water {
    border: 10px solid #1d5796;
}
  
html {
    font-family: helvetica, arial, sans-serif;
}

/* relevant styles */

/* .main_image_wrap {
    display: inline-block;
} */
.img__wrap {
    display: inline-block;
    /* position: relative; */
    height: 150px;
    width: 200px;
}

.img__description_layer {
/* position: absolute; */
    margin-top: -140px;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent; 
    color: black;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;

/* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
}

.img__description {
    transition: .2s;
    transform: translateY(1em);    
}

.img__description h4 {
    text-align: center;
}

.img__description p {
    font-size: small;
}

.img__wrap:hover .img__description {
    transform: translateY(0);
}