<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Main Landing Page</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link rel="stylesheet" href="{% static 'cover.css' %}">
    <link rel="stylesheet" href="{% static 'about.css' %}">


</head>

<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead">
            <div class="inner">
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="{% url 'main' %}">Home</a>
                    <a class="nav-link " href="{% url 'game_page' %}">Game Page</a>
                    <a class="nav-link " href="{% url 'about_page' %}">About Page</a>
                </nav>
            </div>
        </header>