<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Main Landing Page</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link rel="stylesheet" href="{% static 'cover.css' %}">

</head>

<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="{% url 'main' %}">Home</a>
                    <a class="nav-link " href="{% url 'game_page' %}">Game Page</a>
                    <a class="nav-link " href="{% url 'about_page' %}">About Page</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            <h1 class="cover-heading">Welcome to the Main Page</h1>
            <p class="lead">{{ user.user_name }}</p>
            <p class="lead">{{ user.email }}</p>
            <p class="lead">{{ user.created_at|date:"M d, Y" }}</p>
            <p class="lead">Gold: {{ user.gold }}</p>
            <p class="lead">
                <a href="{% url 'game_page' %}" class="btn btn-lg btn-secondary">Go To Game Page</a>
            </p>
            <p class="lead">
                <a href="{% url 'about_page' %}" class="btn btn-lg btn-secondary">About Page</a>
            </p>
            <p class="lead">
                <a href="{% url 'logout' %}" class="btn btn-lg btn-secondary">Logout</a>
            </p>
            <p>
                <a href="/user_info/{{user.id}}" class="btn btn-lg btn-secondary">User Info</a>
            </p>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
        </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
    </script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
</body>

</html>